{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    {% if session["user_id"] %}
    <h1>Hello</h1>
    {% else %}
        <div class="jumbotron">
            <h1 class="display-4">Welcome to TriplePlay Arena</h1>
            <p class="lead">Triple Play Arena is the platform to play multiplayer games with your friends, you can play Tic Tac Toe, Chess or Rock Paper Scissors</p>
            <p class="lead">If you would like to play games, please log in</p>
            <a class="btn btn-secondary btn-lg" href="/login" role="button">Log In</a>
            <hr class="my-4">
            <p>If you are new to the platform, plase register by clicking the button below:</p>
            <p class="lead">
              <a class="btn btn-secondary btn-lg" href="/register" role="button">Register</a>
            </p>
          </div>
    {% endif %}
{% endblock %}
