{% extends "layout.html" %}

{% block title %}
    Tic Tac Toe
{% endblock %}

{% block main %}

    
    <h1>Play Tic Tac Toe</h1>

        <table class="table table-bordered">
            <tr></tr>
                <td></td>
                <td></td>
                <td></td>
            <tr></tr>
                <td></td>
                <td></td>
                <td></td>
            <tr></tr>
                <td></td>
                <td></td>
                <td></td>
        </table>
  
{% endblock %}