{% extends "layout.html" %}

{% block styles %}
<!-- Override the default stylesheet with a custom one -->
<link rel="stylesheet" href="/static/style_tictactoe.css">

{% endblock %}

{% block script %}
<script src="/static/tictactoe.js" defer></script>
{% endblock %}
{% block title %}
    Tic Tac Toe
{% endblock %}

{% block main %}
    <h1>Play Tic Tac Toe</h1>
    <div class="board" id="board">
           <div class="cell" data-cell></div>
           <div class="cell" data-cell></div>
           <div class="cell" data-cell></div>
           <div class="cell" data-cell></div>
           <div class="cell" data-cell></div>
           <div class="cell" data-cell></div>
           <div class="cell" data-cell></div>
           <div class="cell" data-cell></div>
           <div class="cell" data-cell></div>
       </div>
       <div class="winning-message" id="winningMessage">
           <div id="winningMessageText"></div>
           <button id="restartButton">Restart</button>
       </div>
{% endblock %}