{% extends "layout.html" %}

{% block title %}
    Tic Tac Toe
{% endblock %}

{% block main %}

    
    <h1>Play Tic Tac Toe</h1>
    <div class="tic">
        <table class="tictac">
            <tr>

           
                <td class="td"></td>
                <td class="td"></td>
                <td class="td"></td>
            </tr>
            <tr>
                <td class="td"></td>
                <td class="td"></td>
                <td class="td"></td>
            </tr>
            <tr>
                <td class="td"></td>
                <td class="td"></td>
                <td class="td"></td>
            </tr>
        </table>

        <script src="{{ url_for('static', filename='tictactoe.js') }}">
        </script>
  </div>
{% endblock %}